footer {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: black;
  color: #8d96a0;
  font-size: 0.8rem;
  font-weight: 300;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover img {
    filter: drop-shadow(0 0 6px rgba(107, 198, 68, 0.8));
  }

  a:last-child:hover img {
    filter: drop-shadow(0 0 6px rgba(0, 114, 177, 0.8));
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  img {
    height: 2em;
    transition: all 0.5s ease-in-out;
  }
}
