body > header {
  position: relative;
  height: 100vh;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(black, transparent, black);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  overflow: hidden;

  nav {
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 3em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 200;
      white-space: nowrap;
      letter-spacing: 0.7rem;
    }

    & > div:first-child {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5em;

      hr {
        width: 2px;
        height: 2.5rem;
        background: white;
      }

      svg {
        height: 4rem;
        aspect-ratio: 1 / 1;
      }
    }

    #user-login-grp {
      display: flex;
      align-items: center;
      height: 1em;
      justify-content: flex-end;
      margin-bottom: 1em;
    }

    #upser-login-btn:hover {
      opacity: 0.6;
    }

    #open-logout-btn {
      position: relative;
      overflow: visible;
      z-index: 4;
      opacity: 1;
      &:hover {
        cursor: auto;
        opacity: 1;
      }
    }

    #open-logout-btn .tool-tip {
      min-width: 100px;
      transform: scale(0);
      visibility: none;
      background-color: black;
      color: white;
      border: 2px solid white;
      text-align: center;
      padding: 0.25rem 1rem;
      transition: transform 0.5s ease-in-out;
      transform-origin: top right;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;

      h5 {
        color: white;
        margin: 0;
      }

      hr {
        height: 1rem;
        border-style: solid;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          text-wrap: nowrap;
        }
      }
    }

    #open-logout-btn:hover .tool-tip,
    .tool-tip:hover {
      visibility: visible;
      transform: scale(1);
      pointer-events: auto;

      ul {
        cursor: pointer;

        &:hover {
          filter: brightness(0.7);
        }
      }
    }

    #open-logout-btn.active .tool-tip {
      visibility: visible;
      transform: scale(1);
      pointer-events: auto;
    }

    .login {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.5em;
      text-transform: none;
      border: none;
      background: transparent;
      color: white;
      img {
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;
        color: white;
      }
    }

    ul.menu-options {
      margin: 0;
      display: flex;
      gap: 1em;

      li {
        list-style: none;
        position: relative;
        margin: 1.5em 0;
      }

      img {
        height: 0.8em;
      }
    }
  }
}

#header-img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: background-image 1s ease-in;
  z-index: -2;
}
