#menu-drawer {
  background: rgba(227, 232, 235, 0.8);
  transform-origin: top center;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5rem;
}

#menu {
  --default: black;
  --invalid: red;
  min-width: max(300px, 50%);
  max-width: 1000px;
  background: white;
  color: black;
  padding: 1rem 1rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 0.7rem;
      line-height: 1.4;
      text-align: center;
      margin: 1rem 0;
    }
  }

  form {
    position: relative;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    [class$='group'] {
      --isValid-color: black;
      color: var(--isValid-color);
      border-bottom: 2px solid var(--isValid-color);
      width: 100%;
      max-width: 30rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 0.25rem;

      & > * {
        margin: 0.25rem;
      }

      span {
        margin: 0.25rem 0;
      }

      label,
      legend,
      span {
        text-wrap: nowrap;
      }

      legend {
        font-weight: bold;
      }

      input {
        height: 1.5rem;
        width: 100%;
        border: none;
        color: var(--isValid-color);
      }

      select {
        border: none;
      }
    }

    .radio-input-group {
      align-items: center;
      gap: 0;

      label {
        margin-left: 1em;
      }
    }

    fieldset {
      border: none;
      padding: 0;
    }

    button {
      text-transform: uppercase;
      text-wrap: nowrap;
    }

    #login-submit-btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  #login-form {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }

  button.close {
    color: black;
    font-weight: 700;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    translate: 0 -3.5em;

    &:hover {
      cursor: pointer;
    }
  }

  .room-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
