@import 'buttons';
@import 'content';
@import 'footer';
@import 'header';
@import 'main';
@import 'menus';
@import 'variables';

*,
*:before,
*:after {
  font-family: Neue Helvetica, helvetica, sans-serif;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

.hidden,
.login-required {
  display: none !important;
}

.minimized {
  transform: scaleY(0);
}

.clear {
  border-color: transparent !important;
  color: transparent !important;
  background: transparent !important;
  opacity: 0;
}
